- content_for :title do
  About
%h3 Информация об учреждении образования
%table.pull-right.table.table-striped.table-bordered.table-condensed{align: "center", border: "2", cellpadding: "2", cellspacing: "2", width: "600"}
  %tbody
    %tr
      %td
        %img{align: "middle", alt: "", src: "/sm_full.aspx?guid=2873", width: "200"}/
      %td{colspan: "2"}
        %p{align: "left"} 

          %font{size: "4"}> Чудеса иногда случаются, но над этим надо очень много работать
          %br
          %font{size: "4"}>Ду работает с 8:00-18:00.
          %br
          %font{size: "4"}>Телефон администрации: +375335556644.
    %tr
      %td{colspan: "4"}
        %p
          %font{size: "4"}
            %strong Шевченко Виолетта Валерьевна,
        %p
          %font{size: "4"} заведующий учреждения
    %tr
      %td  
      %td{colspan: "2"}
        %p{align: "center"}
          %font{size: "4"} Даже если вас съели, у вас есть два выхода...
    %tr
      %td{colspan: "4"}
        %p
          %font{size: "4"}
            %strong Долидович Светлана Владимировна,
        %p
          %font{size: "4"} заместитель заведующего по основной деятельности
    %tr
      %td  
      %td{colspan: "3"}  
    %tr
      %td{colspan: "4"}
        %p
          %font{size: "4"}
            %strong> Курчевская Елена Николаевна,
             
        %p
          %font{size: "4"} заместитель заведующего по хозяйственной работе
.google-map-canvas#map-canvas
           