/ %script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyAzcMzeQ4j0ZHBn0z8KML94IhQ_FGkXl5k&sensor=true", type: "text/javascript"}
/   :cdata
/ :javascript
/   function initialize() {
/     var mapOptions = {
/       center: new google.maps.LatLng(-34.397, 150.644),
/       zoom: 8
/     };
/     var map = new google.maps.Map(document.getElementById("map-canvas"),
/         mapOptions);
/   }
/   google.maps.event.addDomListener(window, 'load', initialize);

/ .google-map-canvas#map-canvas 
.row
  .col-xs-6.col-md-3
    %a.thumbnail{href: "#"}
      %img{alt: "...", "data-src" => "holder.js/100%x180"}
      
.panel.panel-default
  / Default panel contents
  .panel-heading Карта проезда
  %script{charset: "utf-8", src: "//api-maps.yandex.ru/services/constructor/1.0/js/?sid=6F5lfO3yppLggTFTyEIbP0_M1L1j5rKq&width=1108&height=500", type: "text/javascript"}