.page-header
  .media
  = link_to (image_tag "label.png", width: 64, height: 64), root_path, class: 'pull-left' , style: "float:left;margin:0 25px 0 0;"
  .media-body
    %h2.media-heading.pull-center Государственное учреждение  образования
    "Санаторный ясли-сад №366 г. Минска"
 
 
  