<%# add navigation links to this file %>
<li><%= link_to 'Информация о ДУ', page_path('about') %></li>
<li><%= link_to 'Родителям', page_path('for_parents') %></li>
<li><%= link_to 'Контактная информация', page_path('map') %></li>
<li><%= link_to 'Контактная информация', page_path('map') %></li>
